.DS_Store
# macOS system files
.DS_Store

# NetBeans project files
/nbproject/private/

# Build directories
/build/
/dist/
/target/

# .gitignore
src/main/resources/fir-credentials-b7b1a-firebase-adminsdk-rqo9d-9115896dac.json

